section
  nav#footer-menu
    ul
      li
        a(href=config.root + 'about') About
      li
        a(href='http://github.com/shvetsovdm') Github
      li
        a(href='http://twitter.com/shvetsovdm') Twitter
